<!doctype html>
<html ng-app="tagdemo">
<head>
    <title>Load Progress Icon</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" href="assets/styles/main.css">

    <style>
    .text-32 {
        font-size: 32px;
    }
    </style>
</head>

<body ng-controller="UIController" class="text-center">
    
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <div load-progress-icon iconclass="glyphicon glyphicon-picture" progress="{{imageLoadPercentage}}"></div>
        
            <input type="range" min="0" max="100" ng-model="imageLoadPercentage">
        </div>        
    </div>
    <p>Set <strong>.pouring-loader</strong> class in your CSS with <strong>width</strong> and <strong>height</strong>. Use <strong>load-progress-icon iconclass="glyphicon glyphicon-picture" progress="&#123; &#123;some variable&#125; &#125;"</strong></p>
    <div class="row">
        <pre pre-html class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1"><!-- 
<style>
.pouring-loader {
    height: 96x;
    width: 96px;
    margin: 15px auto;
}
</style>

    <div load-progress-icon iconclass="glyphicon glyphicon-picture" progress="{{imageLoadPercentage}}"></div> 

    <input type="range" min="0" max="100" ng-model="imageLoadPercentage">
--></pre>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <div load-progress-icon iconclass="glyphicon glyphicon-picture" progress="{{imageLoadPercentage}}" instant="true"></div>
        
            <input type="range" min="0" max="100" ng-model="imageLoadPercentage">
        </div>        
    </div>
    <p>Add <strong>instant="true"</strong></p>
    <div class="row">
        <pre pre-html class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1"><!-- 
    <div load-progress-icon iconclass="glyphicon glyphicon-picture" progress="{{imageLoadPercentage}}" instant="true"></div>

    <input type="range" min="0" max="100" ng-model="imageLoadPercentage">
--></pre>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <div load-progress-icon iconclass="glyphicon glyphicon-filter" progress="{{tagLoadPercentage}}" towards="down"></div>
       
            <input type="range" min="0" max="100" ng-model="tagLoadPercentage">
        </div>        
    </div>
    <div class="row">
        <p>Add <strong>towards="down"</strong></p>
        <pre pre-html class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1"><!-- 
    <div load-progress-icon iconclass="glyphicon glyphicon-filter" progress="{{tagLoadPercentage}}" towards="down"></div>

     <input type="range" min="0" max="100" ng-model="tagLoadPercentage">
--></pre>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
             <div load-progress-icon iconclass="glyphicon glyphicon-globe" progress="{{advLoadPercentage}}" towards="right" activecolor="green"></div>
        
            <input type="range" min="0" max="100" ng-model="advLoadPercentage">
        </div>        
    </div>
    <div class="row">
        <p>Add <strong>towards="right"</strong> and <strong>activecolor="green"(or like #abcdef)</strong></p>
        <pre pre-html class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1"><!-- 
    <div load-progress-icon iconclass="glyphicon glyphicon-globe" progress="{{advLoadPercentage}}" towards="right" activecolor="green"></div>
        
            <input type="range" min="0" max="100" ng-model="advLoadPercentage">
--></pre>
    </div>

    <!-- This is still in experiment... -->
    <!-- <div class="row">
        <div class="col-md-6">
             <div load-progress-icon progress="{{advLoadPercentage}}" towards="up" activecolor="green" iconclass="text-32" loadingtext="loading...">
             </div>
        </div>
        <div class="col-md-6">
            <input type="range" min="0" max="100" ng-model="advLoadPercentage">
        </div>        
    </div> -->


    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/libs/angular/angular.js"></script>
    <script src="assets/scripts/app.js"></script>
</body>
</html>