.pouring-loader {
  height: 96px;
  width: 96px;
  margin: 15px auto; }

/* 
.transparent-first {
	opacity: 0;
	@include transition (opacity 0.3s ease-out );

	&.visible {
		opacity: 1;
		@include transition (opacity 0.3s ease-out 0.5s );
	}
}
 */